.panel {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    user-select: none;
    display: flex;
    align-items: center;
}

.panel-shapes {
    background: #2D405B;
    padding: 5px;
    display: flex;
    gap: 5px;
    border-radius: 25px;
}

.panel-shapes-type {
    width: 60px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 25px;
    transition: background 0.2s ease;
}

.panel-shapes-type svg {
    display: block;
    max-width: 24px;
    transform: scale(0.9);
    transition: transform 0.2s ease;
}

.panel-shapes-type.active {
    background: rgba(255, 255, 255, 0.2);
    pointer-events: none;
}

.panel-shapes-type:hover {
    background: rgba(255, 255, 255, 0.08);
}

.panel-shapes-type.active svg,
.panel-shapes-type:hover svg {
    transform: scale(1);
}

.panel-editor {
    background: #F6F6F6;
    padding: 5px 12px 5px 40px;
    display: flex;
    gap: 5px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-left: -25px;
    z-index: -1;
    overflow: hidden;
}

.panel-editor-inner {
    display: flex;
    gap: 15px;
    height: 40px;
}

.settings-editor-label {
    color: #2D405B;
    font-size: 12px;
    transition: opacity 0.2s ease;
    opacity: 0.5;
}

.settings-editor {
    height: 100%;
}

.settings-editor:hover .settings-editor-label {
    opacity: 1;
}

.settings-editor.active .settings-editor-shape {
    transition: all 0.4s ease;
    transform: translateY(-14px);
}

.settings-editor.active .settings-editor-label {
    transform: translateY(-20px);
}

.settings-editor-shape {
    width: 40px;
    height: 40px;
    transition: all 0.1s ease;
    transform: translateY(3px);

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}

.settings-editor-shape.transparent {
    background-size: cover;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABwSURBVHgB7dixCcAwDAXRr5Alsv+gyghG1VlwrzaCAxdCleTLQHdPnqeqRu+n858sZwDNAJoBNANoBtDe23ab6Xy/EM0AmgE0A2gG0PbvQrftNt6FtjGAZgDNAJoBNO9CJ96FDgygGUAzgGYAzQDaD3WAGHyFrA0aAAAAAElFTkSuQmCC');

}

.settings-editor-shape.rectangle {
    border-radius: 0;
}

.settings-editor-shape.ellipse {
    border-radius: 50%;
}
